$blue: #687bf7;
$lightblue: #72d9ef;
$cyan: #79e7eb;

#campain-details-enter{
    // border:  1px solid #adbcc4;
    
}

.search-button-with-ok{
    button {
         height: 35px;
         margin: auto;
    }
}

#campaign-section-desc{
    background: aliceblue;
    width: 100%;

    #campaign-section-name-delete{
        width: '90%';
        padding: 20px;

        button{
            float: right;
        }
    }

    #campaign-box{
        margin: auto;
        width: 96%;

        .campain-question-description-box{
            padding: 20px;
            margin-bottom: 18px;
        }
        
        #delete-question-button{
            float:right;
            margin-top: 1%;
        }
    }

    #campaign-question-add-button{
        float: right;
        margin: 2%;
    }

}




.campain-question-table-header{
    background-color: #1976d2;
    color: white !important;
}


#section-delete-button{
    padding: 20px;
    float: right;
}


#campaign-create-add-section{
    height: 40px;
    
    button {
        margin-left: auto;
        float: right;
        order: 2;
    }
}

#draggable-portion{
    background: #1976d2;
    margin-top: 0px;
    height: 30px;
    display: flex;
    cursor: move;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;

    svg{
        margin: auto;
        color:white;
    }

    button{
        padding: 0%;
    }

    .section-up-down{
        padding: 0%;
    }

}

.campaign-section-question-selection{

    .campaign-section-question-selection-pane{
        text-align: center;
        margin-top: 22px;
    }
    
}



.campaign-section {
    max-width: 70em;
    margin: 4vh auto 0;
    // background: whitesmoke;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    box-shadow: 4px 4px 50px rgba($blue, 0);
    // transition: box-shadow 100ms linear;
    // &:hover {
    //  box-shadow: 4px 4px 50px rgba($blue, 0.6);
    // }

    ul {
       
        margin: 0;
        padding: 0;
        list-style: none;
       
        li {
         display: flex;
         flex-direction: column;
         align-items: center;
         border:  1px solid #adbcc4;
        //  cursor: move;
         background-color: white;
         line-height: 1;
         margin-bottom: 2em;
         border-radius: 5px;
       
         &.dropArea {
          color: white !important;
          background: white !important;
          position: relative;
          border: none;
          
    
          button {
              visibility: hidden;
          }
          input {
              visibility: hidden;
          }
    
          div{
              visibility: hidden;
          }
       
          &::before {
           content: "drop here";
           border:  2px dotted #adbcc4;
           color: $blue; 
           font-size: 0.5em;
           text-transform: uppercase;
           width: 100%;
           height: 100%; 
           border-radius: 3px;
           position: absolute;
           display: flex;
           justify-content: center;
           align-items: center;
          }
       
        //   span {
        //    display: none;
        //   }
       
        //   p {
        //    margin-left: 1em;
        //   }
         }
       
         &:hover {
        //   background: linear-gradient(to left, $blue, $lightblue);
        //   color: white;
       
        //   span {
        //    background-color: $cyan;
        //   }
         }
       
        //  span {
        //   display: inline-block;
        //   margin-right: 1em;
        //   margin-left: 0.5em;
        //   background-color: $lightblue;
        //   width: 2em;
        //   height: 2em;
        //   border-radius: 50%;
        //   display: grid;
        //   place-items: center;
        //   color: white;
        //   font-weight: bold;
        //   transition: background-color 100ms linear;
        //  }
       
        //  p {
        //   transition: margin-left 50ms ease-in-out;
        //  }
       
        //  i {
        //   margin-left: auto;
        //   margin-right: 1em;
        //  }
        }
       }
   }
   

   
   @keyframes fadeIn {
    0% {
     opacity: 0.2;
    }
    100% {
     opacity: 1;
    }
   }